/* Variables */
:root {
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Roboto Slab", serif;

  --dark-primary-color: #1976d2;
  --default-primary-color: #2196f3;
  --light-primary-color: #f7f7f7;
  --text-primary-color: #ffffff;
  --accent-color: #ff5722;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;

  --max-width: 110rem;
}

/* Utility Classes */
/* .active { 
  background-color: var(--default-primary-color);
}  */

.show {
  display: flex;
}

.hide {
  display: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* General Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  background-color: var(--light-primary-color);
}

/* .app-container {
  
} */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

/* Banner */
.banner {
  padding: 2rem;
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  background: url("../img/banner.jpeg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
}

.banner h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-color: rgb(0, 4, 8);
  font-weight: 700;
  color: var(--text-primary-color);
  padding: 1rem;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
  }
}

/* Navigation */
#navbar {
  background-color: var(--dark-primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navlist {
  display: flex;
}

.navlist li {
  list-style-type: none;
  padding: 2rem 3rem;
  transition: all .3s ease;
}

@media (max-width: 767px) {
  #navbar {
    display: block;
  }
  .navlist li {
    text-align: center;
    flex: 1 1 100%;
  }
}

.navlist li:hover {
  background-color: var(--accent-color);
}

.navlist li a:link,
.navlist li a:visited {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--text-primary-color);
  font-family: var(--font-primary);
}

/* Component: Home */
#home {
  
}

.home-container {
  padding: 3rem;
  margin-top: 3rem;
}

.inner-grid h2 {
  font-size: 3rem;
  text-align: center;
}

.home-text p {
  font-size: 1.8rem;
  font-family: var(--font-secondary);
  border-radius: 1rem;
  padding-bottom: 3rem;
}

.home-text .inner-grid {
  display: grid;
  grid-gap: 1rem;
}

.external-wrapper {
  margin: 1rem 0 4rem 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* .img-container {
  width: 20rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: .8rem;
} */

/* Component: Contact */
#contact {
  padding: 2rem;
  background-color: var(--light-primary-color);
  min-height: 100vh;
}

.contact-wrapper {
  padding: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

.contact-heading {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.contact-heading h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .contact-heading h2 {
    font-size: 2rem;
  }
}

.contact-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
  padding-bottom: 2rem;
}

.contact-portrait img {
  width: 10rem;
  display: block;
}

.form-container {
  box-shadow: 0 0 2rem .3rem rgba(14, 110, 206, 0.7);
  background-color: var(--default-primary-color);
  padding: 2rem;
  max-width: 50rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.field {
  padding: .5rem;
}

.field label {
  display: block;
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

.field input {
  padding: 1rem;
  width: 100%;
}

.field textarea {
  width: 100%;
  padding: .8rem;
}

.contact-btn {
  padding: 1.5rem 2.5rem;
  width: 100%;
  border: none;
  text-transform: uppercase;
  transition: background-color .4s ease-in-out;
  font-size: 1.4rem;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  grid-column: 1 / -1;
}

.contact-btn:hover,
.contact-btn:focus {
  outline: none;
  cursor: pointer;
  background-color: #f3440e;
  color: var(--text-primary-color);
}

/* Component: Articles */
#posts {
  
}

.posts-text {
  margin-top: 3rem;
  padding: 3rem;
  display: grid;
  grid-gap: 1rem;
}

.posts-text h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.posts-text p {
  font-size: 1.8rem;
  font-family: var(--font-secondary);
  padding-bottom: 3rem;
  border-radius: 1rem;
}

.quote {
  padding: 1.5rem;
  background-color: #ccc;
  border-radius: .5rem;
  margin-bottom: 3rem;
}

.quote p::before {
  content: '\201C';
}

.quote p::after {
  content: '\201D';
}

.code-block {
  font-size: 1.6rem;
  font-family: monospace;
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

/* Footer */
#footer {
  padding: 2rem;
  text-align: center;
  background-color: #bbdefb;
  width: 100%;
}

#footer p {
  font-size: 1.3rem;
  font-family: var(--font-secondary);
  font-weight: 400;
}